"*":
  editor:
    fontFamily: "Monaco"
    fontSize: 12
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    invisibles:
      eol: " "
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    projectHome: "/Users/coeuvre"
    destroyEmptyPanes: false
  "exception-reporting":
    userId: "07b4a68c-3ba8-72f0-dbbb-25af7ed1bcdc"
  "release-notes":
    viewedVersion: "0.92.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "ce13feae9c9653202d658c736c8f4b503b3f1826"
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "linter-rust":
    rustcPath: "/Users/coeuvre/.local/bin/rustc"
    cargoPath: "/Users/coeuvre/.local/bin/cargo"
  minimap:
    absoluteMode: true
  "autocomplete-plus": {}
